<nav class="vertical-navbar" [class.open]="isMenuOpen">
  <!-- Бургер-кнопка -->
  <button class="burger-btn" (click)="toggleMenu()">
    <div class="burger-line" [class.open]="isMenuOpen"></div>
    <div class="burger-line" [class.open]="isMenuOpen"></div>
    <div class="burger-line" [class.open]="isMenuOpen"></div>
  </button>

  <!-- Навигационные ссылки только с иконками -->
  <div class="nav-links">
    <a routerLink="/login" routerLinkActive="active" title="Login">
      <span class="material-icons">Login</span>
    </a>
    <a routerLink="/register" routerLinkActive="active" title="Register">
      <span class="material-icons">Register</span>
    </a>
    <a routerLink="nft" routerLinkActive="active" title="NFT">
      <span class="material-icons">NFT</span>
    </a>
    <a routerLink="/my-nfts" routerLinkActive="active" title="My NFT's">
      <span class="material-icons">My NFT's</span>
    </a>
    <a routerLink="/profile" routerLinkActive="active" title="Profile">
      <span class="material-icons">Profile</span>
    </a>
    <a routerLink="/create-nft" routerLinkActive="active" title="Create NFT">
      <span class="material-icons">My NFT's</span>
    </a>
  </div>
</nav>
