.page-container {
  display: flex;
}

.register-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.register-card {
  background: rgba(255, 255, 255, 0.1); /* Цвет как у карточек */
  padding: 2.5rem;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  color: #ddd; /* Белый текст */
  backdrop-filter: blur(10px);
}

.register-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 255, 153, 0.4);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

/* Поля формы */
.form-group {
  margin-bottom: 1.75rem;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #bbb;
  font-weight: 500;
  transition: all 0.3s ease;
}

.form-group input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid #444;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.form-group input:focus {
  border-color: #00cc77;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.4);
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Кнопки */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  gap: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button[type="submit"] {
  background-color: #00cc77;
  color: white;
  box-shadow: 0 4px 6px rgba(74, 144, 226, 0.3);
}

button[type="submit"]:hover {
  background-color: #00cc77;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(74, 144, 226, 0.4);
}

button[type="submit"]:disabled {
  background-color: #00cc77;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.login-link {
  text-align: center;
  display: block;
  color: #00cc77;
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
