<div class="page-container">
  <div class="register-content">
    <div class="register-card">
      <h2>Create Account</h2>

      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="user.username"
            required
            #usernameInput="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="user.email"
            required
            #emailInput="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            required
            #passwordInput="ngModel"
          />
        </div>

        <div class="form-actions">
          <button type="submit" [disabled]="!registerForm.valid">
            Sign Up
          </button>
          <a routerLink="/login" class="login-link"
            >Already have an account? <br />
            Sign In</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
