<div class="dashboard-container">
  <h1>Create Profile</h1>

  <div class="profile-section">
    <div class="profile-image">
      <img [src]="avatar" />
      <!-- Наложение с кнопкой выбора файла -->
      <label for="avatar-upload" class="upload-overlay">
        <svg
          class="upload-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        <span>Choose Image</span>
      </label>
      <input
        id="avatar-upload"
        type="file"
        accept="image/png, image/jpeg"
        (change)="onAvatarChange($event)"
        style="display: none"
      />
    </div>
    <p class="image-info">
      Recomendes format PNG or JPG, <br />
      size is at least 300x300 px, max size 10 <br />
      mb
    </p>
  </div>

  <div class="user-info">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" placeholder="Dave Mustaine" />
  </div>

  <div class="bio-section">
    <label>Bio</label>
    <textarea
      [(ngModel)]="bio"
      rows="4"
      (input)="checkCharLimit($event)"
      placeholder="Tell us about yourself..."
    ></textarea>
    <p class="char-count">{{ bio.length }}/300 символов осталось</p>
  </div>

  <button class="create-btn" (click)="saveProfile()">Create!</button>
</div>
